<div class="jumbotron">
<h1>About Me</h1>
  <p>My name is Chris Camp and I am a freelance programmer who is currently living in New York City.</p>
  <%= image_tag("me.jpg") %>
  <h3><i>*Will work for pastrami.<i></h3>  
</div>